.orders-container{

max-width:900px;

margin:auto;

padding:30px;

}

.orders-container h1{

text-align:center;

margin-bottom:30px;

color:green;

}

.order-card{

background:white;

padding:20px;

margin-bottom:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.12);

}

.order-product{

display:flex;

align-items:center;

gap:15px;

margin:15px 0;

}

.order-product img{

width:80px;

height:80px;

object-fit:cover;

border-radius:10px;

}

.orders-empty{

text-align:center;

margin-top:120px;

}

@media(max-width:768px){

.order-product{

flex-direction:column;

text-align:center;

}

.order-product img{

width:120px;

height:120px;

}

}